@font-face {
  font-family: "PlutoLight";
  src: url("../fonts/PlutoSansLight.woff2") format("woff2"), url("../fonts/PlutoSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlutoMedium";
  src: url("../fonts/PlutoSansMedium.woff2") format("woff2"), url("../fonts/PlutoSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlutoBold";
  src: url("../fonts/PlutoSansBold.woff2") format("woff2"), url("../fonts/PlutoSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlutoRegular";
  src: url("../fonts/PlutoSansRegular.woff2") format("woff2"), url("../fonts/PlutoSansRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.p-0 {
  padding: initial !important;
}

* {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "PlutoRegular";
}

span.gm-menu-item__txt {
  font-family: "PlutoMedium";
}

.gm-dropdown-menu .gm-menu-item__txt {
  font-family: "PlutoLight";
}

.gm-dropdown-menu .gm-menu-item__link {
  border-bottom: 1px solid #aaaaaa;
}

.p-relative {
  position: relative;
}

.circles {
  position: absolute;
  padding: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -110px;
}
.circles li {
  display: inline-block;
  padding: 0;
  margin-right: 40px;
}
.circles li:last-child {
  margin: 0;
}
.circles .img-circle {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.circles h4 {
  text-align: center;
  font-size: 17px;
}

#home #info {
  padding-top: 70px;
}
#home #info img {
  width: 100%;
}
#home #info .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#home #info .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#home #info .text p a {
  color: black;
  font-weight: 600;
}
#home #info .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#home #info .text h2 strong {
  font-family: "PlutoBold";
}
#home #info .text h2 span {
  position: relative;
}
#home #info .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#home #slide .splide__slide {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
}
#home #slide .splide__slide .text {
  position: absolute;
  margin-top: 70px;
}
#home #slide .splide__slide .text h4 {
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}
#home #slide .splide__slide .text h1 {
  color: white;
  max-width: 60%;
  font-size: 35px;
  line-height: 40px;
  margin: 20px 0;
}
#home #slide .splide__slide .text h1 span {
  font-family: "PlutoBold";
  color: #f9eb32;
}
#home #slide .splide__slide .text a {
  color: #f9eb32;
  text-transform: uppercase;
}
#home #info2 {
  padding: 130px 0;
  background-image: url("../img/home/global-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#home #info2 .logo {
  position: absolute;
  bottom: 60px;
  left: 60px;
  max-width: 200px;
}
#home #info2 img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
}
#home #info2 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#home #info2 .text h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
#home #info2 .text h2 strong {
  font-family: "PlutoBold";
}
#home #info2 .text p {
  font-family: "PlutoLight";
}
#home #yellow {
  background-image: url("../img/home/bg-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#home #yellow img {
  padding-top: 320px;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
  max-width: 50%;
  cursor: pointer;
}
#home #yellow img:hover {
  opacity: 0.9;
}
#home #info3 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#home #info3 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#home #info3 .text h2 span {
  position: relative;
  font-family: "PlutoBold";
}
#home #info3 .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
  z-index: -1;
}
#home #info3 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#home #info4 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
}
#home #info4 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#home #info4 .text h2 strong {
  font-family: "PlutoBold";
}
#home #info4 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#home #info4 #form {
  position: absolute;
  width: 100%;
  margin-left: 30px;
}
#home #info4 #form .form-group {
  margin-bottom: 10px;
}
#home #info4 #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#home #info4 #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#home #info4 #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#home #info4 #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#home #info4 #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#home #info4 #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#home #info4 #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}

footer {
  background-color: #f9eb32;
  padding: 60px 0;
}
footer img {
  margin-bottom: 60px;
}
footer h3 {
  font-size: 20px;
  font-family: "PlutoBold";
  margin-bottom: 20px;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  color: black;
  font-family: "PlutoLight";
  font-size: 14px;
  text-decoration: none;
}

#exito #filter {
  padding: 50px 0;
}
#exito #filter .cbp img {
  opacity: 0;
}
#exito #filter .cbp-l-caption-body {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#exito #filter .cbp-l-caption-body:hover .cbp-l-caption-text h3, #exito #filter .cbp-l-caption-body:hover .cbp-l-caption-text h2, #exito #filter .cbp-l-caption-body:hover .cbp-l-caption-text .view, #exito #filter .cbp-l-caption-body:hover .cbp-l-caption-text h2 span {
  color: black;
}
#exito #filter .cbp-l-caption-body:hover::before {
  background-color: rgba(255, 236, 0, 0.8);
}
#exito #filter .cbp-l-caption-body::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.6);
}
#exito #filter .cbp-l-caption-text {
  padding: 30px;
  z-index: 99;
  position: relative;
}
#exito #filter .cbp-l-caption-text h3 {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}
#exito #filter .cbp-l-caption-text h2 {
  font-size: 23px;
  max-width: 80%;
  line-height: 25px;
  margin: 22px auto;
}
#exito #filter .cbp-l-caption-text h2 span {
  color: #ffec00;
}
#exito #filter .cbp-l-caption-text .view {
  font-size: 15px;
  color: #ffec00;
}
#exito #filter .cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
  background-color: transparent !important;
  font-weight: bold;
}
#exito #filter .cbp-l-filters-list .cbp-filter-item {
  border: 0;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
}
#exito #info {
  padding: 70px 1px;
  background-image: url("../img/exito/bg-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
#exito #info h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "PlutoBold";
}
#exito #info .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#exito #info h2 span {
  position: relative;
}
#exito #info h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#exito #info p {
  font-family: "PlutoLight";
}
#exito #info2 {
  padding: 130px 0;
  background-image: url("../img/home/global-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#exito #info2 .logo {
  position: absolute;
  bottom: 60px;
  left: 60px;
  max-width: 200px;
}
#exito #info2 img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
}
#exito #info2 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#exito #info2 .text h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
#exito #info2 .text h2 strong {
  font-family: "PlutoBold";
}
#exito #info2 .text p {
  font-family: "PlutoLight";
}
#exito #info2 .circles {
  position: absolute;
  padding: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -110px;
}
#exito #info2 .circles li {
  display: inline-block;
  padding: 0;
  margin-right: 40px;
}
#exito #info2 .circles li:last-child {
  margin: 0;
}
#exito #info2 .circles .img-circle {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#exito #info2 .circles h4 {
  text-align: center;
  font-size: 17px;
}
#exito #yellow {
  background-image: url("../img/home/bg-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#exito #yellow img {
  padding-top: 320px;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
  max-width: 50%;
  cursor: pointer;
}
#exito #yellow img:hover {
  opacity: 0.9;
}
#exito #info3 {
  padding-top: 70px;
}
#exito #info3 .img {
  height: 340px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#exito #info3 .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 237, 0, 0.8);
  z-index: 0;
}
#exito #info3 .img:hover {
  cursor: pointer;
}
#exito #info3 .img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 0;
}
#exito #info3 .img:hover .top {
  display: block;
  color: white;
  z-index: 2;
  position: relative;
}
#exito #info3 .img:hover .center {
  display: block;
}
#exito #info3 .img:hover .bottom {
  color: white;
}
#exito #info3 .img .top {
  text-transform: uppercase;
  font-size: 11px;
  display: none;
}
#exito #info3 .img .center {
  color: yellow;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#exito #info3 .img .center .fas {
  color: yellow;
}
#exito #info3 .img .bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#exito #info3 .img .bottom h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PlutoBold";
  margin: 0;
}
#exito #info3 .img .bottom h3 {
  font-size: 25px;
  margin: 0;
}
#exito #info3 .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#exito #info3 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#exito #info3 .text p a {
  color: black;
  font-weight: 600;
}
#exito #info3 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#exito #info3 .text h2 a {
  color: black;
}
#exito #info3 .text h2 strong {
  font-family: "PlutoBold";
}
#exito #info3 .text h2 span {
  position: relative;
  display: inline-block;
}
#exito #info3 .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#exito #blog {
  padding: 60px 1px;
  background-image: url("../img/contact/bg-blog.jpg");
  background-image: url("../img/contact/bg-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#exito #blog .img {
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  position: relative;
}
#exito #blog .img .fas {
  display: none;
  color: black;
}
#exito #blog #slide-three {
  margin: 100px 0;
  position: relative;
}
#exito #blog #slide-three a {
  text-decoration: none;
}
#exito #blog #slide-three a:hover .img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 231, 32, 0.8);
}
#exito #blog #slide-three a:hover .fas {
  position: absolute;
  left: 50%;
  display: block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#exito #blog #slide-three a:hover h3 {
  font-family: "PlutoMedium";
}
#exito #blog h3 {
  text-align: center;
  font-size: 20px;
  font-family: "PlutoLight";
  color: black;
}
#exito #blog h3 a {
  font-family: "PlutoBold";
  color: black;
}
#exito #info4 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
}
#exito #info4 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#exito #info4 .text h2 strong {
  font-family: "PlutoBold";
}
#exito #info4 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#exito #info4 #form {
  position: absolute;
  width: 100%;
  margin-left: 30px;
}
#exito #info4 #form .form-group {
  margin-bottom: 10px;
}
#exito #info4 #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#exito #info4 #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#exito #info4 #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#exito #info4 #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#exito #info4 #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#exito #info4 #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#exito #info4 #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}

#solution-item #info {
  padding: 70px 1px;
}
#solution-item #info .text {
  text-align: center;
}
#solution-item #info .text h2 {
  margin-bottom: 30px;
}
#solution-item #info .text p {
  font-size: 18px;
  font-family: "PlutoLight";
  line-height: 30px;
}
#solution-item #info .text p a {
  color: black;
}
#solution-item #info .text span {
  position: relative;
}
#solution-item #info .text span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#solution-item .info2 .img {
  background-position: bottom;
  content: "";
  height: 620px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#solution-item .info2 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#solution-item .info2 .text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#solution-item .info2 .text h2 strong {
  font-family: "PlutoBold";
}
#solution-item .info2 .text h2 strong span {
  position: relative;
}
#solution-item .info2 .text h2 strong span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#solution-item .info2 .text p, #solution-item .info2 .text li {
  font-family: "PlutoLight";
  font-size: 16px;
}
#solution-item .info2 .text a {
  color: black;
  font-family: "PlutoBold";
  font-size: 20px;
  text-decoration: none;
}
#solution-item #info3 {
  padding: 80px 1px;
}
#solution-item #info3 p {
  text-align: center;
  font-family: "PlutoLight";
  font-size: 22px;
  margin: 0;
}
#solution-item #info3 p a {
  color: black;
}
#solution-item #slide .splide__slide {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
}
#solution-item #slide .splide__slide .text {
  position: absolute;
  margin-top: 70px;
}
#solution-item #slide .splide__slide .text h4 {
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}
#solution-item #slide .splide__slide .text h1 {
  color: white;
  max-width: 60%;
  font-size: 35px;
  line-height: 40px;
  margin: 20px 0;
}
#solution-item #slide .splide__slide .text h1 span {
  font-family: "PlutoBold";
  color: #f9eb32;
}
#solution-item #slide .splide__slide .text a {
  color: #f9eb32;
  text-transform: uppercase;
}
#solution-item #yellow {
  background-image: url("../img/home/bg-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#solution-item #yellow img {
  padding: 150px 1px;
  display: block;
  margin: 0 auto;
  max-width: 50%;
  cursor: pointer;
}
#solution-item #yellow img:hover {
  opacity: 0.9;
}
#solution-item #info5 {
  padding: 60px 1px;
}
#solution-item #info5 .img {
  height: 340px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#solution-item #info5 .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 237, 0, 0.8);
  z-index: 0;
}
#solution-item #info5 .img:hover {
  cursor: pointer;
}
#solution-item #info5 .img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 0;
}
#solution-item #info5 .img:hover .top {
  display: block;
  color: white;
  z-index: 2;
  position: relative;
}
#solution-item #info5 .img:hover .center {
  display: block;
}
#solution-item #info5 .img:hover .bottom {
  color: white;
}
#solution-item #info5 .img .top {
  text-transform: uppercase;
  font-size: 11px;
  display: none;
}
#solution-item #info5 .img .center {
  color: yellow;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#solution-item #info5 .img .center .fas {
  color: yellow;
}
#solution-item #info5 .img .bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#solution-item #info5 .img .bottom h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PlutoBold";
  margin: 0;
}
#solution-item #info5 .img .bottom h3 {
  font-size: 25px;
  margin: 0;
}
#solution-item #info5 .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#solution-item #info5 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#solution-item #info5 .text p a {
  color: black;
}
#solution-item #info5 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#solution-item #info5 .text h2 a {
  color: black;
}
#solution-item #info5 .text h2 strong {
  font-family: "PlutoBold";
}
#solution-item #info5 .text h2 span {
  position: relative;
  display: inline-block;
}
#solution-item #info5 .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#solution-item #info4 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
}
#solution-item #info4 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#solution-item #info4 .text h2 strong {
  font-family: "PlutoBold";
}
#solution-item #info4 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#solution-item #info4 #form {
  position: absolute;
  width: 100%;
  margin-left: 30px;
}
#solution-item #info4 #form .form-group {
  margin-bottom: 10px;
}
#solution-item #info4 #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solution-item #info4 #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solution-item #info4 #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solution-item #info4 #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solution-item #info4 #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solution-item #info4 #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solution-item #info4 #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}

#contact-page #info {
  padding-top: 60px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
  position: relative;
}
#contact-page #info .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#contact-page #info .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#contact-page #info .text h2 strong {
  font-family: "PlutoBold";
}
#contact-page #info .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#contact-page #info .text .phones {
  font-weight: 600;
}
#contact-page #info .text a {
  color: black;
  text-decoration: none;
}
#contact-page #info .text a:last-child {
  display: block;
  text-decoration: underline;
}
#contact-page #info #form .form-group {
  margin-bottom: 10px;
}
#contact-page #info #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#contact-page #info #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#contact-page #info #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#contact-page #info #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#contact-page #info #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#contact-page #info #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#contact-page #info #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}
#contact-page #info2 {
  padding: 130px 0;
  background-image: url("../img/home/global-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#contact-page #info2 .logo {
  position: absolute;
  bottom: 60px;
  left: 60px;
  max-width: 200px;
}
#contact-page #info2 img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
}
#contact-page #info2 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#contact-page #info2 .text h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
#contact-page #info2 .text h2 strong {
  font-family: "PlutoBold";
}
#contact-page #info2 .text p {
  font-family: "PlutoLight";
}
#contact-page #info3 {
  padding-top: 70px;
}
#contact-page #info3 .img {
  height: 340px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-page #info3 .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 237, 0, 0.8);
  z-index: 0;
}
#contact-page #info3 .img:hover {
  cursor: pointer;
}
#contact-page #info3 .img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 0;
}
#contact-page #info3 .img:hover .top {
  display: block;
  color: white;
  z-index: 2;
  position: relative;
}
#contact-page #info3 .img:hover .center {
  display: block;
}
#contact-page #info3 .img:hover .bottom {
  color: white;
}
#contact-page #info3 .img .top {
  text-transform: uppercase;
  font-size: 11px;
  display: none;
}
#contact-page #info3 .img .center {
  color: yellow;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#contact-page #info3 .img .center .fas {
  color: yellow;
}
#contact-page #info3 .img .bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#contact-page #info3 .img .bottom h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PlutoBold";
  margin: 0;
}
#contact-page #info3 .img .bottom h3 {
  font-size: 25px;
  margin: 0;
}
#contact-page #info3 .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#contact-page #info3 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#contact-page #info3 .text p a {
  color: black;
  font-weight: 600;
}
#contact-page #info3 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#contact-page #info3 .text h2 a {
  color: black;
}
#contact-page #info3 .text h2 strong {
  font-family: "PlutoBold";
}
#contact-page #info3 .text h2 span {
  position: relative;
  display: inline-block;
}
#contact-page #info3 .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#contact-page #yellow {
  background-image: url("../img/home/bg-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-page #yellow img {
  padding-top: 320px;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
  max-width: 50%;
  cursor: pointer;
}
#contact-page #yellow img:hover {
  opacity: 0.9;
}
#contact-page #blog {
  padding: 60px 1px;
  background-image: url("../img/contact/bg-blog.jpg");
  background-image: url("../img/contact/bg-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#contact-page #blog .img {
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  position: relative;
}
#contact-page #blog .img .fas {
  display: none;
  color: black;
}
#contact-page #blog #slide-three {
  margin: 100px 0;
  position: relative;
}
#contact-page #blog #slide-three a {
  text-decoration: none;
}
#contact-page #blog #slide-three a:hover .img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 231, 32, 0.8);
}
#contact-page #blog #slide-three a:hover .fas {
  position: absolute;
  left: 50%;
  display: block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#contact-page #blog #slide-three a:hover h3 {
  font-family: "PlutoMedium";
}
#contact-page #blog h3 {
  text-align: center;
  font-size: 20px;
  font-family: "PlutoLight";
  color: black;
}
#contact-page #blog h3 a {
  font-family: "PlutoBold";
  color: black;
}
#contact-page #splide .splide__slide {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
}
#contact-page #splide .splide__slide .text {
  position: absolute;
  margin-top: 70px;
}
#contact-page #splide .splide__slide .text h4 {
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}
#contact-page #splide .splide__slide .text h1 {
  color: white;
  max-width: 60%;
  font-size: 35px;
  line-height: 40px;
  margin: 20px 0;
}
#contact-page #splide .splide__slide .text h1 span {
  font-family: "PlutoBold";
  color: #f9eb32;
}
#contact-page #splide .splide__slide .text a {
  color: #f9eb32;
  text-transform: uppercase;
}

#about-page #info {
  padding: 70px 1px;
}
#about-page #info img {
  max-width: 60%;
}
#about-page #info .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#about-page #info .text h2 span {
  position: relative;
}
#about-page #info .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#about-page #info .text p {
  font-family: "PlutoLight";
}
#about-page #info .text p a {
  color: black;
}
#about-page #yellow {
  background-image: url("../img/about/bg-yellow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 240px 1px;
}
#about-page #yellow h2, #about-page #yellow p {
  margin: 0;
}
#about-page #yellow p {
  margin: 20px 0;
}
#about-page #yellow p a {
  color: black;
  font-family: "PlutoBold";
}
#about-page #info2 {
  padding-top: 70px;
}
#about-page #info2 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#about-page #info2 .text h2 {
  margin-bottom: 20px;
}
#about-page #info2 .text h2 strong {
  display: block;
}
#about-page #info2 .text p {
  font-family: "PlutoLight";
}
#about-page #info2 .text p a {
  font-family: "PlutoBold";
  color: black;
}
#about-page #info3 {
  padding: 130px 0;
  background-image: url("../img/about/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#about-page #info3 .logo {
  position: absolute;
  bottom: 60px;
  right: 60px;
  max-width: 200px;
}
#about-page #info3 img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
}
#about-page #info3 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#about-page #info3 .text h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
#about-page #info3 .text h2 strong {
  font-family: "PlutoBold";
  display: block;
}
#about-page #info3 .text p {
  font-family: "PlutoLight";
}
#about-page #info3 .circles {
  position: absolute;
  padding: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -110px;
}
#about-page #info3 .circles li {
  display: inline-block;
  padding: 0;
  margin-right: 40px;
}
#about-page #info3 .circles li:last-child {
  margin: 0;
}
#about-page #info3 .circles .img-circle {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#about-page #info3 .circles h4 {
  text-align: center;
  font-size: 17px;
}
#about-page #yellow-two {
  background-image: url("../img/home/bg-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#about-page #yellow-two img {
  padding-top: 320px;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
  max-width: 50%;
  cursor: pointer;
}
#about-page #yellow-two img:hover {
  opacity: 0.9;
}
#about-page #info4 {
  padding-top: 70px;
}
#about-page #info4 .img {
  height: 340px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-page #info4 .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 237, 0, 0.8);
  z-index: 0;
}
#about-page #info4 .img:hover {
  cursor: pointer;
}
#about-page #info4 .img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 0;
}
#about-page #info4 .img:hover .top {
  display: block;
  color: white;
  z-index: 2;
  position: relative;
}
#about-page #info4 .img:hover .center {
  display: block;
}
#about-page #info4 .img:hover .bottom {
  color: white;
}
#about-page #info4 .img .top {
  text-transform: uppercase;
  font-size: 11px;
  display: none;
}
#about-page #info4 .img .center {
  color: yellow;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#about-page #info4 .img .center .fas {
  color: yellow;
}
#about-page #info4 .img .bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#about-page #info4 .img .bottom h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PlutoBold";
  margin: 0;
}
#about-page #info4 .img .bottom h3 {
  font-size: 25px;
  margin: 0;
}
#about-page #info4 .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#about-page #info4 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#about-page #info4 .text p a {
  color: black;
  font-weight: 600;
}
#about-page #info4 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#about-page #info4 .text h2 a {
  color: black;
}
#about-page #info4 .text h2 strong {
  font-family: "PlutoBold";
}
#about-page #info4 .text h2 span {
  position: relative;
  display: inline-block;
}
#about-page #info4 .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#about-page #blog {
  padding: 60px 1px;
  background-image: url("../img/contact/bg-blog.jpg");
  background-image: url("../img/contact/bg-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#about-page #blog .img {
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  position: relative;
}
#about-page #blog .img .fas {
  display: none;
  color: black;
}
#about-page #blog #slide-three {
  margin: 100px 0;
  position: relative;
}
#about-page #blog #slide-three a {
  text-decoration: none;
}
#about-page #blog #slide-three a:hover .img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 231, 32, 0.8);
}
#about-page #blog #slide-three a:hover .fas {
  position: absolute;
  left: 50%;
  display: block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#about-page #blog #slide-three a:hover h3 {
  font-family: "PlutoMedium";
}
#about-page #blog h3 {
  text-align: center;
  font-size: 20px;
  font-family: "PlutoLight";
  color: black;
}
#about-page #blog h3 a {
  font-family: "PlutoBold";
  color: black;
}
#about-page #info5 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
}
#about-page #info5 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#about-page #info5 .text h2 strong {
  font-family: "PlutoBold";
}
#about-page #info5 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#about-page #info5 #form {
  position: absolute;
  width: 100%;
  margin-left: 30px;
}
#about-page #info5 #form .form-group {
  margin-bottom: 10px;
}
#about-page #info5 #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#about-page #info5 #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#about-page #info5 #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#about-page #info5 #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#about-page #info5 #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#about-page #info5 #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#about-page #info5 #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}

#solutions #info {
  padding-top: 60px;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("../img/solution/bg-1.jpg");
}
#solutions #info .img {
  height: 380px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#solutions #info .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 237, 0, 0.8);
  z-index: 0;
}
#solutions #info .img:hover {
  cursor: pointer;
}
#solutions #info .img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 0;
}
#solutions #info .img:hover .top {
  display: block;
  color: white;
  z-index: 2;
  position: relative;
}
#solutions #info .img:hover .center {
  display: block;
}
#solutions #info .img:hover .bottom {
  color: white;
}
#solutions #info .img .top {
  text-transform: uppercase;
  font-size: 11px;
  display: none;
}
#solutions #info .img .center {
  color: yellow;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#solutions #info .img .center .fas {
  color: yellow;
}
#solutions #info .img .bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#solutions #info .img .bottom h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PlutoBold";
  margin: 0;
}
#solutions #info .img .bottom h3 {
  font-size: 25px;
  margin: 0;
}
#solutions #info .text {
  margin-top: 100px;
}
#solutions #info .text p, #solutions #info .text li {
  font-family: "PlutoLight";
  font-size: 20px;
}
#solutions #info .text p {
  margin: 40px 0;
}
#solutions #info .text li {
  line-height: 35px;
}
#solutions #info .text h2 {
  margin-bottom: 20px;
}
#solutions #info .text h2 a {
  color: black;
}
#solutions #info .text h2 span {
  position: relative;
}
#solutions #info .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#solutions #info2 {
  padding: 130px 0;
  background-image: url("../img/home/global-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#solutions #info2 .logo {
  position: absolute;
  bottom: 60px;
  left: 60px;
  max-width: 200px;
}
#solutions #info2 img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
}
#solutions #info2 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#solutions #info2 .text h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
#solutions #info2 .text h2 strong {
  font-family: "PlutoBold";
}
#solutions #info2 .text p {
  font-family: "PlutoLight";
}
#solutions #info2 .circles {
  position: absolute;
  padding: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -110px;
}
#solutions #info2 .circles li {
  display: inline-block;
  padding: 0;
  margin-right: 40px;
}
#solutions #info2 .circles li:last-child {
  margin: 0;
}
#solutions #info2 .circles .img-circle {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#solutions #info2 .circles h4 {
  text-align: center;
  font-size: 17px;
}
#solutions #yellow {
  background-image: url("../img/home/bg-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#solutions #yellow img {
  padding-top: 320px;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
  max-width: 50%;
  cursor: pointer;
}
#solutions #yellow img:hover {
  opacity: 0.9;
}
#solutions #slide .splide__slide {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
}
#solutions #slide .splide__slide .text {
  position: absolute;
  margin-top: 70px;
}
#solutions #slide .splide__slide .text h4 {
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}
#solutions #slide .splide__slide .text h1 {
  color: white;
  max-width: 60%;
  font-size: 35px;
  line-height: 40px;
  margin: 20px 0;
}
#solutions #slide .splide__slide .text h1 span {
  font-family: "PlutoBold";
  color: #f9eb32;
}
#solutions #slide .splide__slide .text a {
  color: #f9eb32;
  text-transform: uppercase;
}
#solutions #blog {
  padding: 60px 1px;
  background-image: url("../img/contact/bg-blog.jpg");
  background-image: url("../img/contact/bg-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#solutions #blog .img {
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  position: relative;
}
#solutions #blog .img .fas {
  display: none;
  color: black;
}
#solutions #blog #slide-three {
  margin: 100px 0;
  position: relative;
}
#solutions #blog #slide-three a {
  text-decoration: none;
}
#solutions #blog #slide-three a:hover .img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 231, 32, 0.8);
}
#solutions #blog #slide-three a:hover .fas {
  position: absolute;
  left: 50%;
  display: block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#solutions #blog #slide-three a:hover h3 {
  font-family: "PlutoMedium";
}
#solutions #blog h3 {
  text-align: center;
  font-size: 20px;
  font-family: "PlutoLight";
  color: black;
}
#solutions #blog h3 a {
  font-family: "PlutoBold";
  color: black;
}
#solutions #info3 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
}
#solutions #info3 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#solutions #info3 .text h2 strong {
  font-family: "PlutoBold";
}
#solutions #info3 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#solutions #info3 #form {
  position: absolute;
  width: 100%;
  margin-left: 30px;
}
#solutions #info3 #form .form-group {
  margin-bottom: 10px;
}
#solutions #info3 #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solutions #info3 #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solutions #info3 #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solutions #info3 #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solutions #info3 #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solutions #info3 #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#solutions #info3 #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}

.p-relative {
  position: relative;
}

#casos-item {
  padding-top: 40px;
}
#casos-item #header .return {
  color: #636363;
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
}
#casos-item #header .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#casos-item #header .text h1 {
  font-weight: bold;
  margin: 0;
}
#casos-item #header .text h2 {
  margin: 0;
}
#casos-item #header .text h4 {
  margin: 15px 0;
  color: #636363;
  text-transform: uppercase;
  font-size: 14px;
}
#casos-item #header .text p {
  font-weight: 300;
}
#casos-item #header .img-circle {
  width: 380px;
  height: 380px;
  margin: 0 auto;
  content: "";
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
#casos-item #info-horizontal {
  margin: 70px 0;
}
#casos-item #info-horizontal .border-right {
  border-right: 3px solid black;
  height: 85%;
}
#casos-item #info-horizontal img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
#casos-item .cube {
  background-color: #feed01;
  border-radius: 10px;
}
#casos-item .cube .text {
  padding: 30px;
  text-align: center;
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#casos-item .cube .text .number {
  font-size: 25px;
  font-weight: bold;
}
#casos-item .cube .text h5 {
  text-transform: uppercase;
}
#casos-item .info-left .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#casos-item .info-left .text h2 {
  margin-bottom: 20px;
}
#casos-item .info-left .text h2 span {
  font-weight: bold;
  position: relative;
}
#casos-item .info-left .text h2 span::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 2px;
  background-color: #feed01;
}
#casos-item .info-left .text p {
  font-weight: 300;
  font-size: 17px;
}
#casos-item .info-right {
  margin: 80px 0;
}
#casos-item .info-right .text {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#casos-item .info-right .text h2 {
  margin-bottom: 20px;
}
#casos-item .info-right .text h2 span {
  font-weight: bold;
  position: relative;
}
#casos-item .info-right .text h2 span::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 2px;
  background-color: #feed01;
}
#casos-item .info-right .text p {
  font-weight: 300;
  font-size: 17px;
}
#casos-item #cube {
  margin-top: 50px;
}
#casos-item #cube .img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
}
#casos-item #cube .text {
  padding: 80px 0;
  text-align: left;
}
#casos-item #cube .text h2 span {
  font-weight: bold;
  display: block;
}
#casos-item #cube .text ul {
  padding: 0;
}
#casos-item #cube .text ul li {
  line-height: 22px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
#casos-item .simple-text {
  margin-top: 50px;
  margin-bottom: 30px;
}
#casos-item .simple-text p a {
  color: black;
}
#casos-item #slide .splide__slide {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
}
#casos-item #slide .splide__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6);
}
#casos-item #slide .splide__slide .text {
  position: absolute;
  margin-top: 70px;
}
#casos-item #slide .splide__slide .text h4 {
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}
#casos-item #slide .splide__slide .text h1 {
  color: white;
  max-width: 60%;
  font-size: 35px;
  line-height: 40px;
  margin: 20px 0;
}
#casos-item #slide .splide__slide .text h1 span {
  font-family: "PlutoBold";
  color: #f9eb32;
}
#casos-item #slide .splide__slide .text a {
  color: #f9eb32;
  text-transform: uppercase;
}
#casos-item #info4 {
  padding-top: 70px;
}
#casos-item #info4 .img {
  height: 340px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#casos-item #info4 .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 237, 0, 0.8);
  z-index: 0;
}
#casos-item #info4 .img:hover {
  cursor: pointer;
}
#casos-item #info4 .img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 0;
}
#casos-item #info4 .img:hover .top {
  display: block;
  color: white;
  z-index: 2;
  position: relative;
}
#casos-item #info4 .img:hover .center {
  display: block;
}
#casos-item #info4 .img:hover .bottom {
  color: white;
}
#casos-item #info4 .img .top {
  text-transform: uppercase;
  font-size: 11px;
  display: none;
}
#casos-item #info4 .img .center {
  color: yellow;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
#casos-item #info4 .img .center .fas {
  color: yellow;
}
#casos-item #info4 .img .bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#casos-item #info4 .img .bottom h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PlutoBold";
  margin: 0;
}
#casos-item #info4 .img .bottom h3 {
  font-size: 25px;
  margin: 0;
}
#casos-item #info4 .text {
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
#casos-item #info4 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#casos-item #info4 .text p a {
  color: black;
  font-weight: 600;
}
#casos-item #info4 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#casos-item #info4 .text h2 a {
  color: black;
}
#casos-item #info4 .text h2 strong {
  font-family: "PlutoBold";
}
#casos-item #info4 .text h2 span {
  position: relative;
  display: inline-block;
}
#casos-item #info4 .text h2 span::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  background: #f9eb32;
  width: 100%;
}
#casos-item #blog {
  padding: 60px 1px;
  background-image: url("../img/contact/bg-blog.jpg");
  background-image: url("../img/contact/bg-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#casos-item #blog .img {
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  position: relative;
}
#casos-item #blog .img .fas {
  display: none;
  color: black;
}
#casos-item #blog #slide-three {
  margin: 100px 0;
  position: relative;
}
#casos-item #blog #slide-three a {
  text-decoration: none;
}
#casos-item #blog #slide-three a:hover .img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 231, 32, 0.8);
}
#casos-item #blog #slide-three a:hover .fas {
  position: absolute;
  left: 50%;
  display: block;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#casos-item #blog #slide-three a:hover h3 {
  font-family: "PlutoMedium";
}
#casos-item #blog h3 {
  text-align: center;
  font-size: 20px;
  font-family: "PlutoLight";
  color: black;
}
#casos-item #blog h3 a {
  font-family: "PlutoBold";
  color: black;
}
#casos-item #info5 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home/bg-top.jpg");
}
#casos-item #info5 .text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
#casos-item #info5 .text h2 strong {
  font-family: "PlutoBold";
}
#casos-item #info5 .text p {
  font-size: 19px;
  font-family: "PlutoLight";
}
#casos-item #info5 #form {
  position: absolute;
  width: 100%;
  margin-left: 30px;
}
#casos-item #info5 #form .form-group {
  margin-bottom: 10px;
}
#casos-item #info5 #form .form-control {
  padding: 10px;
  border-radius: 0;
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#casos-item #info5 #form .form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#casos-item #info5 #form .form-control::-moz-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#casos-item #info5 #form .form-control:-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#casos-item #info5 #form .form-control::-ms-input-placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#casos-item #info5 #form .form-control::placeholder {
  color: #d3d3d3;
  font-family: "PlutoLight";
}
#casos-item #info5 #form .btn-submit {
  margin-top: 5px;
  background-color: #f9eb32;
  width: 100%;
  font-weight: 700;
  padding: 14px 0;
  font-size: 20px;
}

@media only screen and (max-width: 1536px) {
  .circles li {
    margin-right: 20px !important;
  }

  #home #info {
    padding: 50px 0;
  }

  #home #info2 {
    padding: 60px 0;
  }

  .circles {
    position: relative !important;
    margin: 20px auto !important;
    bottom: inherit !important;
    display: block !important;
    text-align: center !important;
  }

  #home #yellow img {
    padding-top: 210px;
  }
}
@media only screen and (max-width: 1366px) {
  #casos-item .info-left .text p, #casos-item .info-right .text p {
    font-size: 15px;
  }

  #home #info .text {
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }
  #home #info .text p {
    font-size: 17px;
  }
  #home #info .text h2 {
    font-size: 29px;
  }

  #home #info2 .text h2 {
    font-size: 35px;
  }

  #home #info3 .text p {
    font-size: 17px;
  }
  #home #info3 .text h2 {
    font-size: 29px;
  }

  #home #info4 .text h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 1200px) {
  #home #slide .splide__slide .text h1 {
    font-size: 29px;
    line-height: 30px;
  }

  .gm-container {
    max-width: 80%;
  }

  .container-fluid, .container {
    max-width: 90%;
  }

  #home #yellow img {
    padding-top: 160px;
  }

  #info3 {
    padding: 50px 0;
  }

  #solutions #info .img {
    height: 280px;
  }

  #home #info3 .text {
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
    margin-bottom: 20px;
  }

  #home #info4 {
    padding: 50px 0;
  }
  #home #info4 #form {
    position: relative;
    margin: inherit;
  }

  #home #info2 .logo {
    bottom: 10px;
    left: 10px;
    max-width: 150px;
  }

  #home #info2 .circles {
    margin-top: 50px;
  }

  #home #info2 .text h2 {
    font-size: 28px;
  }

  #contact-page #yellow img {
    padding: 150px 1px;
  }
}
@media only screen and (max-width: 992px) {
  #casos-item #header img {
    margin: 0 auto;
    display: block;
    max-width: 45%;
  }

  #casos-item #info-horizontal .border-right {
    border-bottom: 1px solid black;
    border-right: 0;
  }

  #casos-item #info5 #form {
    position: relative;
    margin: inherit;
  }

  #casos-item #cube .text {
    padding: 40px 0;
  }

  #exito #info4 #form {
    position: relative;
    margin-left: inherit;
  }

  #solutions #yellow img {
    padding: 140px 1px;
  }

  #exito #info2 .logo, #solutions #info2 .logo {
    left: 20px;
    bottom: 20px;
  }

  #about-page #info2 {
    background-color: #ececec;
    padding: 50px 1px;
  }

  #yellow-two img {
    padding: 150px 0 !important;
  }

  #about-page #info5 #form {
    margin-left: inherit;
    position: relative;
  }

  #home #slide .splide__slide .text h1 {
    max-width: 80%;
    font-size: 28px;
    line-height: 34px;
  }

  #home #slide .splide__slide {
    height: 420px !important;
  }

  footer img {
    max-width: 50% !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  #solutions #info .text {
    margin: inherit;
  }

  #info, #info2, #info3, #blog, #info4 {
    padding: 50px !important;
  }

  #info .text h2, #contact-page #info3 .text h2 {
    font-size: 30px !important;
  }

  #contact-page #info2 .logo {
    width: 130px;
    left: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  #casos-item img {
    width: 100%;
  }

  #casos-item #cube .text ul li {
    font-size: 14px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .container-fluid, .container {
    max-width: inherit;
  }

  #exito #info2 img {
    max-width: 150px;
    margin: 30px auto;
  }

  #solutions #info3 #form {
    position: relative;
    width: 100%;
    margin-left: inherit;
  }

  #slide .splide__slide .text {
    padding: 50px !important;
  }

  #solutions #blog .img {
    height: 280px;
  }

  #solutions #info2 .icon {
    max-width: 250px;
    margin: 30px auto;
  }

  #info .text h2, #info3 .text h2, #yellow h2, #info2 .text h2, #info4 .text h2, #info5 .text h2 {
    font-size: 34px !important;
  }

  #splide .splide__slide .text h1 {
    max-width: 80% !important;
    font-size: 29px !important;
    line-height: 34px !important;
  }

  #contact-page #splide .splide__slide {
    height: 420px !important;
  }

  #contact-page #info2 img {
    width: 240px;
    margin: 20px auto;
  }

  #about-page #info img {
    margin: 20px auto;
    display: block;
    max-width: 200px;
  }

  #yellow img {
    padding: 140px 0 !important;
  }

  #about-page #info, #about-page #yellow, #about-page #info2, #about-page #info3 {
    padding: 50px;
  }

  .clear {
    clear: both;
  }

  .circles .img-circle {
    width: 130px !important;
    height: 130px !important;
    display: block;
    margin: 0 auto;
  }
  .circles li {
    width: 50% !important;
    float: right;
    margin-right: 0 !important;
  }

  #about-page #info3 img {
    max-width: 250px;
    margin: 20px auto;
  }

  .logo {
    right: 20px !important;
    bottom: 20px !important;
    width: 120px !important;
  }

  #home #info {
    padding: 50px 0;
  }

  #home #info2 .circles {
    max-width: 80%;
    margin: 20px auto;
    display: block;
    left: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }

  #home #info2 img {
    max-width: 250px;
    margin-bottom: 30px;
  }

  #home #info2 .logo {
    margin-bottom: 0;
  }

  #home #info2 .circles li {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  #casos-item {
    padding: 20px;
  }

  #casos-item #slide .splide__slide .text h1 {
    max-width: 80%;
  }

  #casos-item .cube .text .number {
    font-size: 25px;
  }

  #casos-item #cube .text {
    padding: 40px;
  }
  #casos-item #cube .text ul {
    margin: 0;
  }

  #casos-item .cube .text h5 {
    font-size: 13px;
  }

  #info .text h2, #info3 .text h2, #info2 .text h2, #yellow h2, #info4 .text h2, #info5 .text h2 {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  #solutions #info .img {
    margin-bottom: 20px;
  }

  .container-fluid, .container {
    max-width: inherit;
  }

  #about-page #info4 .img {
    height: 240px;
    margin-bottom: 20px;
  }

  #contact-page #info2 .logo {
    left: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0.4;
  }

  #about-page #yellow p {
    margin: inherit;
  }

  #info, #yellow, #info2, #info3, #info4, #blog, #info5 {
    padding: 30px !important;
  }

  #about-page #info .text {
    top: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }

  #slide .splide__slide .text h1 {
    font-size: 25px !important;
    line-height: 27px !important;
    max-width: 80%;
  }

  #slide .splide__slide {
    height: 360px !important;
  }

  #slide-three {
    margin: 50px 0 !important;
  }

  #slide .splide__slide .text {
    margin: inherit !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translate(0, -50%) !important;
            transform: translate(0, -50%) !important;
  }

  #home #info2 img {
    max-width: 35% !important;
  }

  #home #info2 .circles li {
    margin-right: 5px;
  }

  #home #info2 .circles {
    max-width: 100%;
  }

  #home #info2 .circles li {
    margin-right: 20px;
  }

  #home #slide .splide__slide {
    height: 480px !important;
  }

  #info3 {
    padding: 25px 0;
  }

  #contact-page #blog #slide-three {
    margin: 30px 0;
  }

  #contact-page #blog .img {
    height: 260px;
  }

  #contact-page #splide .splide__slide .text {
    margin: 50px;
  }
}