@font-face {
    font-family: 'PlutoLight';
    src: url('../fonts/PlutoSansLight.woff2') format('woff2'),
        url('../fonts/PlutoSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlutoMedium';
    src: url('../fonts/PlutoSansMedium.woff2') format('woff2'),
        url('../fonts/PlutoSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlutoBold';
    src: url('../fonts/PlutoSansBold.woff2') format('woff2'),
        url('../fonts/PlutoSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlutoRegular';
    src: url('../fonts/PlutoSansRegular.woff2') format('woff2'),
        url('../fonts/PlutoSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.p-0 {
	padding: initial!important;
}

* {
	transition: all 0.2s ease;
	font-family: 'PlutoRegular';
}

span.gm-menu-item__txt {
    font-family: 'PlutoMedium';
}

.gm-dropdown-menu .gm-menu-item__txt {
	font-family: 'PlutoLight';
}

.gm-dropdown-menu .gm-menu-item__link {
	border-bottom:1px solid #aaaaaa;
}

$yellow:#f9eb32;

.p-relative {
	position:relative;
}

.circles {
	position:absolute;
	padding:0;
	left:50%;
	transform: translate(-50%,0);
	bottom:-110px;

	li {
		display: inline-block;
		padding:0;
		margin-right: 40px;

		&:last-child {
			margin:0;
		}
	}

	.img-circle {
		width: 120px;
		height: 120px;
		background-size:cover;
		background-repeat:no-repeat;
		margin-bottom: 10px;
	}

	h4 {
		text-align:center;
		font-size: 17px;
	}
}

#home {
	#info {
		padding-top: 70px;

		img {
			width: 100%;
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				font-size: 19px;
				font-family: 'PlutoLight';

				a {
					color: black;
					font-weight: 600;
				}
			}

			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}

				span {
					position:relative;

					&::before {
						content:'';
						position:absolute;
						height: 3px;
						bottom:0;
						background: $yellow;
						width: 100%;
					}
				}
			}
		}
	}

	#slide {
		.splide__slide {
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			height: 550px;

			.text {
				position:absolute;
				margin-top: 70px;

				h4 {
					text-transform: uppercase;
					color: white;
					font-size: 17px;
				}

				h1 {
					color: white;
					max-width: 60%;
					font-size: 35px;
					line-height: 40px;
					margin:20px 0;

					span {
						font-family:'PlutoBold';
						color: $yellow;
					}
				}

				a {
					color: $yellow;
					text-transform: uppercase;
				}
			}
		}
	}

	#info2 {
		padding:130px 0;
		background-image:url('../img/home/global-bg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;

		.logo {
			position:absolute;
			bottom:60px;
			left:60px;
			max-width: 200px;
		}

		img {
			margin:0 auto;
			display: block;
			max-width:70%;
		}

		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-family: 'PlutoLight';
			}
		}
	}

	#yellow {
		background-image:url('../img/home/bg-yellow.jpg');
		background-repeat:no-repeat;
		background-size:cover;

		img {
			padding-top:320px;
			display: block;
			margin:0 auto;
			padding-bottom: 150px;
			max-width: 50%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	#info3 {
		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				font-size: 40px;
    			margin-bottom: 30px;
    			

    			span {
    				position:relative;
    				font-family: 'PlutoBold';

    				&::before {
    					content: "";
					    position: absolute;
					    height: 3px;
					    bottom: 0;
					    background: #f9eb32;
					    width: 100%;
					    z-index: -1;
    				}
    			}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}
	}

	#info4 {
		padding:100px 0;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');

		.text {
			h2 {
				font-size: 40px;
    			margin-bottom: 30px;

    			strong {
    				font-family: 'PlutoBold';
    			}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}

		#form {
			position:absolute;
			width: 100%;
			margin-left: 30px;

			.form-group {
				margin-bottom: 10px;
			}

			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';

				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}

			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
}

footer {
	background-color:$yellow;
	padding:60px 0;

	img {
		margin-bottom: 60px;
	}

	h3 {
		font-size: 20px;
		font-family: 'PlutoBold';
		margin-bottom: 20px;
	}

	ul {
		padding:0;

		li {
			list-style-type: none;

			a {
				color: black;
				font-family: 'PlutoLight';
				font-size: 14px;
				text-decoration: none;
			}
		}
	}
}

#exito {

	#filter {
		padding:50px 0;

		.cbp img {
			opacity: 0;
		}

		.cbp-l-caption-body {
			background-size: cover;
			background-repeat: no-repeat;
			position:relative;

			&:hover {

				.cbp-l-caption-text {
					h3,h2, .view, h2 span {
						color: black;
					}
				}

				&::before {
					background-color: rgba(255,236,0,0.8);
				}
			}

			&::before {
				content:'';
				width: 100%;
				height: 100%;
				left:0;
				top:0;
				position:absolute;
				background-color: rgba(1,1,1,0.6);
			}
		}

		.cbp-l-caption-text {
			padding:30px;	
			z-index: 99;
			position: relative;

			h3 {
				text-transform: uppercase;
				color: white;
				font-size: 13px;
			}

			h2 {
				font-size: 23px;
				max-width: 80%;
				line-height: 25px;
				margin:22px auto;

				span {
					color: #ffec00;
				}
			}

			.view {
				font-size: 15px;
				color: #ffec00;
			}
		}

		.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
			background-color: transparent!important;
			font-weight: bold;
		}

		.cbp-l-filters-list .cbp-filter-item {
			border:0;
			text-transform: uppercase;
			font-size: 15px;
			color: black;
		}
	}

	#info {
		padding:70px 1px;
		background-image: url('../img/exito/bg-top.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right;

		h3 {
			text-align: center;
			text-transform: uppercase;
			font-size: 18px;
			font-family: 'PlutoBold';
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);
		}
		
		h2 {
			span {
				position: relative;

				&::before {
					content: "";
					position: absolute;
					height: 3px;
					bottom: 0;
					background: #f9eb32;
					width: 100%;
				}
			}
		}

		p {
			font-family: 'PlutoLight';
		}
	}
	#info2 {
		padding:130px 0;
		background-image:url('../img/home/global-bg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;

		.logo {
			position:absolute;
			bottom:60px;
			left:60px;
			max-width: 200px;
		}

		img {
			margin:0 auto;
			display: block;
			max-width:70%;
		}

		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-family: 'PlutoLight';
			}
		}

		.circles {
			position:absolute;
			padding:0;
			left:50%;
			transform: translate(-50%,0);
			bottom:-110px;

			li {
				display: inline-block;
				padding:0;
				margin-right: 40px;

				&:last-child {
					margin:0;
				}
			}

			.img-circle {
				width: 120px;
				height: 120px;
				background-size:cover;
				background-repeat:no-repeat;
				margin-bottom: 10px;
			}

			h4 {
				text-align:center;
				font-size: 17px;
			}
		}
	}
	#yellow {
		background-image:url('../img/home/bg-yellow.jpg');
		background-repeat:no-repeat;
		background-size:cover;

		img {
			padding-top:320px;
			display: block;
			margin:0 auto;
			padding-bottom: 150px;
			max-width: 50%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}
	#info3 {
		padding-top: 70px;

		.img {
			height: 340px;
			position:relative;
			padding:20px;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content:'';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color:rgba(255,237,0,0.8);
				z-index: 0;
			}

			&:hover {
				cursor: pointer;

				&::before {
					content:'';
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color:rgba(1,1,1,0.8);
					z-index: 0;
				}

				.top {
					display: block;
					color: white;
					z-index: 2;
					position: relative;
				}

				.center {
					display: block;
				}

				.bottom {
					color: white;
				}
			}

			.top {
				text-transform: uppercase;
				font-size: 11px;
				display: none;
			}

			.center {
				color: yellow;
				top:50%;
				left:50%;
				position: absolute;
				transform: translate(-50%,-50%);
				display: none;

				.fas {
					color: yellow;
				}
			}

			.bottom {
				position: absolute;
				bottom:20px;
				left:20px;

				h4 {
					text-transform: uppercase;
					font-size: 13px;
					font-family: 'PlutoBold';
					margin:0;
				}

				h3 {
					font-size: 25px;
					margin:0;
				}
			}
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				font-size: 19px;
				font-family: 'PlutoLight';

				a {
					color: black;
					font-weight: 600;
				}
			}

			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				a {
					color: black;
				}

				strong {
					font-family: 'PlutoBold';
				}

				span {
					position:relative;
					display: inline-block;

					&::before {
						content:'';
						position:absolute;
						height: 3px;
						bottom:0;
						background: $yellow;
						width: 100%;
					}
				}
			}
		}
	}
	#blog {
		padding:60px 1px;
		background-image: url('../img/contact/bg-blog.jpg');
		background-image: url('../img/contact/bg-blog.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.img {
			height: 190px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 25px;
			position: relative;

			.fas {
				display: none;
				color: black;
			}
		}

		#slide-three {
			margin:100px 0;
			position: relative;

			a {
				text-decoration: none;

				&:hover {
					.img::before {
						position:absolute;
						content:'';
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background-color: rgba(246,231,32,0.8);
					}

					.fas {
						position: absolute;
						left:50%;
						display: block;
						top:50%;
						transform: translate(-50%,-50%);
					}

					h3 {
						font-family: 'PlutoMedium';
					}
				}
			}
		}

		h3 {
			text-align: center;
			font-size: 20px;
			font-family: 'PlutoLight';
			color: black;

			a {
				font-family: 'PlutoBold';
				color: black;
			}
		}
	}
	#info4 {
		padding:100px 0;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');

		.text {
			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}

		#form {
			position:absolute;
			width: 100%;
			margin-left: 30px;

			.form-group {
				margin-bottom: 10px;
			}

			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';

				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}

			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
}

#solution-item {
	#info {
		padding:70px 1px;

		.text {
			text-align: center;

			h2 {
				margin-bottom: 30px;
			}

			p {
				font-size: 18px;
				font-family: 'PlutoLight';
				line-height: 30px;

				a {
					color: black;
				}
			}

			span {
				position: relative;

				&::before {
					content: "";
					position: absolute;
					height: 3px;
					bottom: 0;
					background: #f9eb32;
					width: 100%;
				}
			}
		}
	}
	.info2 {
		.img {
			background-position:bottom;
			content:'';
			height: 620px;
			position: relative;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				font-size: 40px;
				margin-bottom: 20px;

				strong {
					font-family: 'PlutoBold';

					span {
						position: relative;

						&::before {
							content: "";
							position: absolute;
							height: 3px;
							bottom: 0;
							background: #f9eb32;
							width: 100%;
						}
					}
				}
			}

			p,li {
				font-family: 'PlutoLight';
				font-size: 16px;
			}

			a {
				color: black;
				font-family: 'PlutoBold';
				font-size: 20px;
				text-decoration: none;
			}
		}
	}
	#info3 {
		padding:80px 1px;

		p {
			text-align: center;
			font-family: 'PlutoLight';
			font-size: 22px;
			margin:0;

			a {
				color: black;
			}
		}
	}
	#slide {
		.splide__slide {
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			height: 550px;

			.text {
				position:absolute;
				margin-top: 70px;

				h4 {
					text-transform: uppercase;
					color: white;
					font-size: 17px;
				}

				h1 {
					color: white;
					max-width: 60%;
					font-size: 35px;
					line-height: 40px;
					margin:20px 0;

					span {
						font-family:'PlutoBold';
						color: $yellow;
					}
				}

				a {
					color: $yellow;
					text-transform: uppercase;
				}
			}
		}
	}
	#yellow {
		background-image:url('../img/home/bg-yellow.jpg');
		background-repeat:no-repeat;
		background-size:cover;

		img {
			padding:150px 1px;
			display: block;
			margin:0 auto;
			max-width: 50%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}
	#info5 {
		padding:60px 1px;

		.img {
			height: 340px;
			position:relative;
			padding:20px;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content:'';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color:rgba(255,237,0,0.8);
				z-index: 0;
			}

			&:hover {
				cursor: pointer;

				&::before {
					content:'';
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color:rgba(1,1,1,0.8);
					z-index: 0;
				}

				.top {
					display: block;
					color: white;
					z-index: 2;
					position: relative;
				}

				.center {
					display: block;
				}

				.bottom {
					color: white;
				}
			}

			.top {
				text-transform: uppercase;
				font-size: 11px;
				display: none;
			}

			.center {
				color: yellow;
				top:50%;
				left:50%;
				position: absolute;
				transform: translate(-50%,-50%);
				display: none;

				.fas {
					color: yellow;
				}
			}

			.bottom {
				position: absolute;
				bottom:20px;
				left:20px;

				h4 {
					text-transform: uppercase;
					font-size: 13px;
					font-family: 'PlutoBold';
					margin:0;
				}

				h3 {
					font-size: 25px;
					margin:0;
				}
			}
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				font-size: 19px;
				font-family: 'PlutoLight';

				a {
					color: black;
				}
			}

			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				a {
					color: black;
				}

				strong {
					font-family: 'PlutoBold';
				}

				span {
					position:relative;
					display: inline-block;

					&::before {
						content:'';
						position:absolute;
						height: 3px;
						bottom:0;
						background: $yellow;
						width: 100%;
					}
				}
			}
		}
	}
	#info4 {
		padding:100px 0;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');

		.text {
			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}

		#form {
			position:absolute;
			width: 100%;
			margin-left: 30px;

			.form-group {
				margin-bottom: 10px;
			}

			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';

				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}

			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
}

//Contact
#contact-page {
	#info {
		padding-top:60px;
		padding-bottom: 20px;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');
		position: relative;
	
		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);
	
			h2 {
				font-size: 40px;
				margin-bottom: 30px;
	
				strong {
					font-family: 'PlutoBold';
				}
			}
	
			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
	
			.phones {
				font-weight: 600;
			}
	
			a {
				color: black;
				text-decoration: none;
	
				&:last-child {
					display: block;
					text-decoration: underline;
				}
			}
		}
	
		#form {
	
			.form-group {
				margin-bottom: 10px;
			}
	
			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';
	
				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}
	
			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
	
	#info2 {
		padding:130px 0;
		background-image:url('../img/home/global-bg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;
	
		.logo {
			position:absolute;
			bottom:60px;
			left:60px;
			max-width: 200px;
		}
	
		img {
			margin:0 auto;
			display: block;
			max-width:70%;
		}
	
		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);
	
			h2 {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 30px;
	
				strong {
					font-family: 'PlutoBold';
				}
			}
	
			p {
				font-family: 'PlutoLight';
			}
		}
	}

	#info3 {
		padding-top: 70px;

		.img {
			height: 340px;
			position:relative;
			padding:20px;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content:'';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color:rgba(255,237,0,0.8);
				z-index: 0;
			}

			&:hover {
				cursor: pointer;

				&::before {
					content:'';
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color:rgba(1,1,1,0.8);
					z-index: 0;
				}

				.top {
					display: block;
					color: white;
					z-index: 2;
					position: relative;
				}

				.center {
					display: block;
				}

				.bottom {
					color: white;
				}
			}

			.top {
				text-transform: uppercase;
				font-size: 11px;
				display: none;
			}

			.center {
				color: yellow;
				top:50%;
				left:50%;
				position: absolute;
				transform: translate(-50%,-50%);
				display: none;

				.fas {
					color: yellow;
				}
			}

			.bottom {
				position: absolute;
				bottom:20px;
				left:20px;

				h4 {
					text-transform: uppercase;
					font-size: 13px;
					font-family: 'PlutoBold';
					margin:0;
				}

				h3 {
					font-size: 25px;
					margin:0;
				}
			}
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				font-size: 19px;
				font-family: 'PlutoLight';

				a {
					color: black;
					font-weight: 600;
				}
			}

			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				a {
					color: black;
				}

				strong {
					font-family: 'PlutoBold';
				}

				span {
					position:relative;
					display: inline-block;

					&::before {
						content:'';
						position:absolute;
						height: 3px;
						bottom:0;
						background: $yellow;
						width: 100%;
					}
				}
			}
		}
	}

	#yellow {
		background-image:url('../img/home/bg-yellow.jpg');
		background-repeat:no-repeat;
		background-size:cover;

		img {
			padding-top:320px;
			display: block;
			margin:0 auto;
			padding-bottom: 150px;
			max-width: 50%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	#blog {
		padding:60px 1px;
		background-image: url('../img/contact/bg-blog.jpg');
		background-image: url('../img/contact/bg-blog.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.img {
			height: 190px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 25px;
			position: relative;

			.fas {
				display: none;
				color: black;
			}
		}

		#slide-three {
			margin:100px 0;
			position: relative;

			a {
				text-decoration: none;

				&:hover {
					.img::before {
						position:absolute;
						content:'';
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background-color: rgba(246,231,32,0.8);
					}

					.fas {
						position: absolute;
						left:50%;
						display: block;
						top:50%;
						transform: translate(-50%,-50%);
					}

					h3 {
						font-family: 'PlutoMedium';
					}
				}
			}
		}

		h3 {
			text-align: center;
			font-size: 20px;
			font-family: 'PlutoLight';
			color: black;

			a {
				font-family: 'PlutoBold';
				color: black;
			}
		}
	}

	#splide {
		.splide__slide {
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			height: 550px;

			.text {
				position:absolute;
				margin-top: 70px;

				h4 {
					text-transform: uppercase;
					color: white;
					font-size: 17px;
				}

				h1 {
					color: white;
					max-width: 60%;
					font-size: 35px;
					line-height: 40px;
					margin:20px 0;

					span {
						font-family:'PlutoBold';
						color: $yellow;
					}
				}

				a {
					color: $yellow;
					text-transform: uppercase;
				}
			}
		}
	}
}

#about-page {
	#info {
		padding:70px 1px;

		img {
			max-width: 60%;
		}

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				span {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						height: 3px;
						bottom: 0;
						background: #f9eb32;
						width: 100%;
					}
				}
			}

			p {
				font-family: 'PlutoLight';

				a {
					color: black;
				}
			}
		}
	}
	#yellow {
		background-image: url('../img/about/bg-yellow.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding:240px 1px;

		h2,p {
			margin:0;
		}

		p {
			margin:20px 0;

			a {
				color: black;
				font-family: 'PlutoBold';
			}
		}
	}
	#info2 {
		padding-top:70px;

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				margin-bottom: 20px;

				strong {
					display: block;
				}
			}

			p {
				font-family: 'PlutoLight';

				a {
					font-family: 'PlutoBold';
					color: black;
				}
			}
		}
	}
	#info3 {
		padding:130px 0;
		background-image:url('../img/about/bg-header.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;

		.logo {
			position:absolute;
			bottom:60px;
			right:60px;
			max-width: 200px;
		}

		img {
			margin:0 auto;
			display: block;
			max-width:70%;
		}

		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
					display: block;
				}
			}

			p {
				font-family: 'PlutoLight';
			}
		}

		.circles {
			position:absolute;
			padding:0;
			left:50%;
			transform: translate(-50%,0);
			bottom:-110px;

			li {
				display: inline-block;
				padding:0;
				margin-right: 40px;

				&:last-child {
					margin:0;
				}
			}

			.img-circle {
				width: 120px;
				height: 120px;
				background-size:cover;
				background-repeat:no-repeat;
				margin-bottom: 10px;
			}

			h4 {
				text-align:center;
				font-size: 17px;
			}
		}
	}
	#yellow-two {
		background-image:url('../img/home/bg-yellow.jpg');
		background-repeat:no-repeat;
		background-size:cover;

		img {
			padding-top:320px;
			display: block;
			margin:0 auto;
			padding-bottom: 150px;
			max-width: 50%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}
	#info4 {
		padding-top: 70px;

		.img {
			height: 340px;
			position:relative;
			padding:20px;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content:'';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color:rgba(255,237,0,0.8);
				z-index: 0;
			}

			&:hover {
				cursor: pointer;

				&::before {
					content:'';
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color:rgba(1,1,1,0.8);
					z-index: 0;
				}

				.top {
					display: block;
					color: white;
					z-index: 2;
					position: relative;
				}

				.center {
					display: block;
				}

				.bottom {
					color: white;
				}
			}

			.top {
				text-transform: uppercase;
				font-size: 11px;
				display: none;
			}

			.center {
				color: yellow;
				top:50%;
				left:50%;
				position: absolute;
				transform: translate(-50%,-50%);
				display: none;

				.fas {
					color: yellow;
				}
			}

			.bottom {
				position: absolute;
				bottom:20px;
				left:20px;

				h4 {
					text-transform: uppercase;
					font-size: 13px;
					font-family: 'PlutoBold';
					margin:0;
				}

				h3 {
					font-size: 25px;
					margin:0;
				}
			}
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				font-size: 19px;
				font-family: 'PlutoLight';

				a {
					color: black;
					font-weight: 600;
				}
			}

			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				a {
					color: black;
				}

				strong {
					font-family: 'PlutoBold';
				}

				span {
					position:relative;
					display: inline-block;

					&::before {
						content:'';
						position:absolute;
						height: 3px;
						bottom:0;
						background: $yellow;
						width: 100%;
					}
				}
			}
		}
	}
	#blog {
		padding:60px 1px;
		background-image: url('../img/contact/bg-blog.jpg');
		background-image: url('../img/contact/bg-blog.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.img {
			height: 190px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 25px;
			position: relative;

			.fas {
				display: none;
				color: black;
			}
		}

		#slide-three {
			margin:100px 0;
			position: relative;

			a {
				text-decoration: none;

				&:hover {
					.img::before {
						position:absolute;
						content:'';
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background-color: rgba(246,231,32,0.8);
					}

					.fas {
						position: absolute;
						left:50%;
						display: block;
						top:50%;
						transform: translate(-50%,-50%);
					}

					h3 {
						font-family: 'PlutoMedium';
					}
				}
			}
		}

		h3 {
			text-align: center;
			font-size: 20px;
			font-family: 'PlutoLight';
			color: black;

			a {
				font-family: 'PlutoBold';
				color: black;
			}
		}
	}
	#info5 {
		padding:100px 0;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');

		.text {
			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}

		#form {
			position:absolute;
			width: 100%;
			margin-left: 30px;

			.form-group {
				margin-bottom: 10px;
			}

			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';

				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}

			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
}

#solutions {
	#info {
		padding-top: 60px;
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
		background-image: url('../img/solution/bg-1.jpg');

		.img {
			height: 380px;
			position:relative;
			padding:20px;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content:'';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color:rgba(255,237,0,0.8);
				z-index: 0;
			}

			&:hover {
				cursor: pointer;

				&::before {
					content:'';
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color:rgba(1,1,1,0.8);
					z-index: 0;
				}

				.top {
					display: block;
					color: white;
					z-index: 2;
					position: relative;
				}

				.center {
					display: block;
				}

				.bottom {
					color: white;
				}
			}

			.top {
				text-transform: uppercase;
				font-size: 11px;
				display: none;
			}

			.center {
				color: yellow;
				top:50%;
				left:50%;
				position: absolute;
				transform: translate(-50%,-50%);
				display: none;

				.fas {
					color: yellow;
				}
			}

			.bottom {
				position: absolute;
				bottom:20px;
				left:20px;

				h4 {
					text-transform: uppercase;
					font-size: 13px;
					font-family: 'PlutoBold';
					margin:0;
				}

				h3 {
					font-size: 25px;
					margin:0;
				}
			}
		}

		.text {
			margin-top: 100px;

			p, li {
				font-family: 'PlutoLight';
				font-size: 20px;
			}

			p {
				margin:40px 0;
			}

			li {
				line-height: 35px;
			}

			h2 {
				margin-bottom: 20px;

				a {
					color: black;
				}

				span {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						height: 3px;
						bottom: 0;
						background: #f9eb32;
						width: 100%;
					}
				}
			}
		}
	}
	#info2 {
		padding:130px 0;
		background-image:url('../img/home/global-bg.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		position:relative;

		.logo {
			position:absolute;
			bottom:60px;
			left:60px;
			max-width: 200px;
		}

		img {
			margin:0 auto;
			display: block;
			max-width:70%;
		}

		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-family: 'PlutoLight';
			}
		}

		.circles {
			position:absolute;
			padding:0;
			left:50%;
			transform: translate(-50%,0);
			bottom:-110px;

			li {
				display: inline-block;
				padding:0;
				margin-right: 40px;

				&:last-child {
					margin:0;
				}
			}

			.img-circle {
				width: 120px;
				height: 120px;
				background-size:cover;
				background-repeat:no-repeat;
				margin-bottom: 10px;
			}

			h4 {
				text-align:center;
				font-size: 17px;
			}
		}
	}
	#yellow {
		background-image:url('../img/home/bg-yellow.jpg');
		background-repeat:no-repeat;
		background-size:cover;

		img {
			padding-top:320px;
			display: block;
			margin:0 auto;
			padding-bottom: 150px;
			max-width: 50%;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}
	#slide {
		.splide__slide {
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			height: 550px;

			.text {
				position:absolute;
				margin-top: 70px;

				h4 {
					text-transform: uppercase;
					color: white;
					font-size: 17px;
				}

				h1 {
					color: white;
					max-width: 60%;
					font-size: 35px;
					line-height: 40px;
					margin:20px 0;

					span {
						font-family:'PlutoBold';
						color: $yellow;
					}
				}

				a {
					color: $yellow;
					text-transform: uppercase;
				}
			}
		}
	}
	#blog {
		padding:60px 1px;
		background-image: url('../img/contact/bg-blog.jpg');
		background-image: url('../img/contact/bg-blog.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.img {
			height: 190px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 25px;
			position: relative;

			.fas {
				display: none;
				color: black;
			}
		}

		#slide-three {
			margin:100px 0;
			position: relative;

			a {
				text-decoration: none;

				&:hover {
					.img::before {
						position:absolute;
						content:'';
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background-color: rgba(246,231,32,0.8);
					}

					.fas {
						position: absolute;
						left:50%;
						display: block;
						top:50%;
						transform: translate(-50%,-50%);
					}

					h3 {
						font-family: 'PlutoMedium';
					}
				}
			}
		}

		h3 {
			text-align: center;
			font-size: 20px;
			font-family: 'PlutoLight';
			color: black;

			a {
				font-family: 'PlutoBold';
				color: black;
			}
		}
	}
	#info3 {
		padding:100px 0;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');

		.text {
			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}

		#form {
			position:absolute;
			width: 100%;
			margin-left: 30px;

			.form-group {
				margin-bottom: 10px;
			}

			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';

				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}

			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
}

.p-relative {
	position: relative;
}

#casos-item {
	padding-top:40px;

	#header {
		.return {
			color: #636363;
			display: block;
			margin-bottom: 15px;
			font-weight: 600;
		}

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h1 {
				font-weight: bold;
				margin:0;
			}

			h2 {
				margin:0;
			}

			h4 {
				margin:15px 0;
				color: #636363;
				text-transform: uppercase;
				font-size: 14px;
			}

			 p { 
				 font-weight: 300;
			 }
		}

		.img-circle {
			width: 380px;
			height: 380px;
			margin:0 auto;
			content:'';
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 50%;
		}
	}

	#info-horizontal {
		margin:70px 0;

		.border-right {
			border-right: 3px solid black;
			height: 85%;
		}

		img {
			width: 100%;
			border-radius:10px 10px 0 0;
		}
	}

	.cube {
		background-color: #feed01;
		border-radius: 10px;

		.text {
			padding:30px;
			text-align: center;
			top:50%;
			position:relative;
			transform: translate(0,-50%);

			.number {
				font-size: 25px;
				font-weight: bold;
			}

			h5 {
				text-transform: uppercase;
			}
		}
		
	}

	.info-left {
		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				margin-bottom: 20px;

				span {
					font-weight: bold;
					position: relative;

					&::before {
						content:'';
						position:absolute;
						width: 100%;
						bottom:-1px;
						left:0;
						height: 2px;
						background-color: #feed01;
					}
				}
			}

			p {
				font-weight: 300;
				font-size: 17px;
			}
		}
	}

	.info-right {
		margin:80px 0;

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h2 {
				margin-bottom: 20px;

				span {
					font-weight: bold;
					position: relative;

					&::before {
						content:'';
						position:absolute;
						width: 100%;
						bottom:-1px;
						left:0;
						height: 2px;
						background-color: #feed01;
					}
				}
			}

			p {
				font-weight: 300;
				font-size: 17px;
			}
		}
	}

	#cube {
		margin-top: 50px;

		.img {
			height: 100%;
			background-size:cover;
			background-repeat: no-repeat;
			background-position: bottom left;
		}

		.text {
			padding:80px 0;
			text-align: left;

			h2 {
				span {
					font-weight: bold;
					display: block;
				}
			}

			ul {
				padding:0;

				li {
					line-height: 22px;
					font-weight: bold;
					font-size: 16px;
					margin-bottom: 20px;
				}
			}
		}
	}

	.simple-text {
		margin-top: 50px;
		margin-bottom:30px;

		p {
			a {
				color: black;
			}
		}
	}

	#slide {
		.splide__slide {
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			height: 550px;

			&::before {
				content:'';
				width: 100%;
				height: 100%;
				position:absolute;
				top:0;
				left: 0;
				background-color: rgba(1,1,1,0.6);
			}

			.text {
				position:absolute;
				margin-top: 70px;

				h4 {
					text-transform: uppercase;
					color: white;
					font-size: 17px;
				}

				h1 {
					color: white;
					max-width: 60%;
					font-size: 35px;
					line-height: 40px;
					margin:20px 0;

					span {
						font-family:'PlutoBold';
						color: $yellow;
					}
				}

				a {
					color: $yellow;
					text-transform: uppercase;
				}
			}
		}
	}

	#info4 {
		padding-top: 70px;

		.img {
			height: 340px;
			position:relative;
			padding:20px;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content:'';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color:rgba(255,237,0,0.8);
				z-index: 0;
			}

			&:hover {
				cursor: pointer;

				&::before {
					content:'';
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color:rgba(1,1,1,0.8);
					z-index: 0;
				}

				.top {
					display: block;
					color: white;
					z-index: 2;
					position: relative;
				}

				.center {
					display: block;
				}

				.bottom {
					color: white;
				}
			}

			.top {
				text-transform: uppercase;
				font-size: 11px;
				display: none;
			}

			.center {
				color: yellow;
				top:50%;
				left:50%;
				position: absolute;
				transform: translate(-50%,-50%);
				display: none;

				.fas {
					color: yellow;
				}
			}

			.bottom {
				position: absolute;
				bottom:20px;
				left:20px;

				h4 {
					text-transform: uppercase;
					font-size: 13px;
					font-family: 'PlutoBold';
					margin:0;
				}

				h3 {
					font-size: 25px;
					margin:0;
				}
			}
		}

		.text {
			top: 50%;
			position: relative;
			transform: translate(0,-50%);

			p {
				font-size: 19px;
				font-family: 'PlutoLight';

				a {
					color: black;
					font-weight: 600;
				}
			}

			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				a {
					color: black;
				}

				strong {
					font-family: 'PlutoBold';
				}

				span {
					position:relative;
					display: inline-block;

					&::before {
						content:'';
						position:absolute;
						height: 3px;
						bottom:0;
						background: $yellow;
						width: 100%;
					}
				}
			}
		}
	}

	#blog {
		padding:60px 1px;
		background-image: url('../img/contact/bg-blog.jpg');
		background-image: url('../img/contact/bg-blog.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.img {
			height: 190px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 25px;
			position: relative;

			.fas {
				display: none;
				color: black;
			}
		}

		#slide-three {
			margin:100px 0;
			position: relative;

			a {
				text-decoration: none;

				&:hover {
					.img::before {
						position:absolute;
						content:'';
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background-color: rgba(246,231,32,0.8);
					}

					.fas {
						position: absolute;
						left:50%;
						display: block;
						top:50%;
						transform: translate(-50%,-50%);
					}

					h3 {
						font-family: 'PlutoMedium';
					}
				}
			}
		}

		h3 {
			text-align: center;
			font-size: 20px;
			font-family: 'PlutoLight';
			color: black;

			a {
				font-family: 'PlutoBold';
				color: black;
			}
		}
	}

	#info5 {
		padding:100px 0;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url('../img/home/bg-top.jpg');

		.text {
			h2 {
				font-size: 40px;
				margin-bottom: 30px;

				strong {
					font-family: 'PlutoBold';
				}
			}

			p {
				font-size: 19px;
				font-family: 'PlutoLight';
			}
		}

		#form {
			position:absolute;
			width: 100%;
			margin-left: 30px;

			.form-group {
				margin-bottom: 10px;
			}

			.form-control {
				padding:10px;
				border-radius: 0;
				color:#d3d3d3;
				font-family: 'PlutoLight';

				&::placeholder {
					color:#d3d3d3;
					font-family: 'PlutoLight';
				}
			}

			.btn-submit {
				margin-top: 5px;
				background-color:$yellow;
				width: 100%;
				font-weight: 700;
				padding:14px 0;
				font-size: 20px;
			}
		}
	}
}

//MEDIA QUERIES
@media only screen and (max-width : 1536px) {

	.circles li {
		margin-right: 20px!important;
	}

	#home #info {
		padding:50px 0;
	}

	#home #info2 {
		padding:60px 0;
	}

	.circles {
		position: relative!important;
		margin: 20px auto!important;
		bottom: inherit!important;
		display: block!important;
		text-align: center!important;
	}

	#home #yellow img {
	    padding-top: 210px;
	}

}

@media only screen and (max-width : 1366px) {

	#casos-item .info-left .text p, #casos-item .info-right .text p {
		font-size: 15px;
	}

	#home #info .text {
		top: inherit;
		transform: inherit;

		p {
			font-size: 17px;
		}

		h2 {
			font-size: 29px;
		}
	}

	#home #info2 .text h2 {
	    font-size: 35px;
	}

	#home #info3 .text {

		p {
			font-size: 17px;
		}

		h2 {
			font-size: 29px;
		}
	}

	#home #info4 .text h2 {
		font-size: 32px;
	}

}

@media only screen and (max-width : 1200px) {

	

	#home #slide .splide__slide .text h1 {
		font-size: 29px;
		line-height: 30px;
	}

	.gm-container {
		max-width: 80%;
	}

	.container-fluid, .container {
		max-width: 90%;
	}

	#home #yellow img {
	    padding-top: 160px;
	}

	#info3 {
		padding:50px 0;
	}

	#solutions #info .img {
		height: 280px;
	}

	#home #info3 .text {
		top: inherit;
		transform: inherit;
		margin-bottom: 20px;
	}

	#home #info4 {
		padding: 50px 0;

		#form {
			position:relative;
			margin:inherit;
		}
	}

	#home #info2 .logo {
		bottom:10px;
		left: 10px;
		max-width: 150px;
	}

	#home #info2 .circles {
		margin-top: 50px;
	}

	#home #info2 .text h2 {
	    font-size: 28px;
	}

	#contact-page #yellow img {
		padding:150px 1px;
	}

}

@media only screen and (max-width : 992px) {

	#casos-item #header img {
		margin:0 auto;
		display: block;
		max-width: 45%;
	}

	#casos-item #info-horizontal .border-right {
		border-bottom: 1px solid black;
		border-right: 0;
	}

	#casos-item #info5 #form {
		position: relative;
		margin: inherit;
	}

	#casos-item #cube .text {
		padding:40px 0;
	}

	#exito #info4 #form {
		position: relative;
		margin-left: inherit;
	}

	#solutions #yellow img {
		padding:140px 1px;
	}

	#exito #info2 .logo, #solutions #info2 .logo {
		left: 20px;
		bottom:20px;
	}

	#about-page #info2 {
		background-color: #ececec;
		padding:50px 1px;
	}

	#yellow-two img {
		padding: 150px 0!important;
	}

	#about-page #info5 #form {
		margin-left: inherit;
		position: relative;
	}

	#home #slide .splide__slide .text h1 {
	    max-width: 80%;
	    font-size: 28px;
	    line-height: 34px;
	}

	#home #slide .splide__slide {
		height: 420px!important;
	}

	footer img {
	    max-width: 50%!important;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 60px;
	}

	#solutions #info .text {
		margin:inherit;
	}

	#info, #info2, #info3, #blog,#info4 {
		padding:50px!important;
	}

	#info .text h2, #contact-page #info3 .text h2 {
		font-size: 30px!important;
	}

	#contact-page #info2 .logo {
		width: 130px;
		left:20px;
		bottom:20px;
	}

}

@media only screen and(max-width: 991px){
	#casos-item img {
		width: 100%;
	}

	#casos-item #cube .text ul li {
		font-size: 14px;
		line-height: 24px;
	}
}

@media only screen and (max-width : 768px) {

	.container-fluid, .container {
		max-width: inherit;
	}

	#exito #info2 img {
		max-width: 150px;
		margin:30px auto;
	}

	#solutions #info3 #form {
		position: relative;
		width: 100%;
		margin-left: inherit;
	}

	#slide .splide__slide .text {
		padding:50px!important;
	}

	#solutions #blog .img {
		height: 280px;
	}

	#solutions #info2 .icon {
		max-width: 250px;
		margin:30px auto;
	}

	#info .text h2, #info3 .text h2,  #yellow h2 , #info2 .text h2, #info4 .text h2, #info5 .text h2 {
		font-size: 34px!important;
	}

	#splide .splide__slide .text h1 {
		max-width: 80%!important;
		font-size: 29px!important;
		line-height: 34px!important;
	}

	#contact-page #splide .splide__slide {
		height: 420px!important;
	}

	#contact-page #info2 img {
		width: 240px;
		margin:20px auto;
	}

	#about-page #info img {
		margin:20px auto;
		display: block;
		max-width: 200px;
	}

	#yellow img {
		padding:140px 0!important;
	}

	#about-page #info, #about-page #yellow, #about-page #info2, #about-page #info3 {
		padding:50px;
	}

	.clear {
		clear: both;
	}

	.circles {
		.img-circle {
			width: 130px!important;
			height: 130px!important;
			display: block;
			margin:0 auto;
		}

		li {
			width:50%!important;
			float: right;
			margin-right:0!important;
		}
	}

	#about-page #info3 img {
		max-width: 250px;
		margin:20px auto;
	}

	.logo {
		right:20px!important;
		bottom:20px!important;
		width: 120px!important;
	}

	#home #info {
		padding:50px 0;
	}

	#home #info2 .circles {
	    max-width: 80%;
	    margin: 20px auto;
	    display: block;
	    left: inherit;
	    transform: inherit;
	}

	#home #info2 img {
		max-width: 250px;
		margin-bottom: 30px;
	}

	#home #info2 .logo {
		margin-bottom: 0;
	}

	#home #info2 .circles li {
		margin-bottom: 30px;
	}

}

@media only screen and (max-width : 480px) {

	#casos-item {
		padding:20px;
	}

	#casos-item #slide .splide__slide .text h1 {
		max-width: 80%;
	}

	#casos-item .cube .text .number {
		font-size: 25px;
	}

	#casos-item #cube .text {
		padding:40px;

		ul {
			margin:0;
		}
	}

	#casos-item .cube .text h5 {
		font-size: 13px;
	}

	#info .text h2, #info3 .text h2,  #info2 .text h2, #yellow h2,#info4 .text h2, #info5 .text h2 {
		font-size: 25px !important;
		line-height: 30px!important;
	}

	#solutions #info .img {
		margin-bottom:20px;
	}

	.container-fluid, .container {
		max-width: inherit;
	}

	#about-page #info4 .img {
		height: 240px;
		margin-bottom: 20px;
	}

	#contact-page #info2 .logo {
		left: 20px;
		bottom: 20px;
		margin:0;
		opacity: 0.4;
	}

	#about-page #yellow p {
		margin:inherit
	}

	#info, #yellow, #info2, #info3, #info4, #blog, #info5 {
		padding: 30px!important;
	}
	
	#about-page #info .text {
		top: inherit;
		transform: inherit;
	}

	#slide .splide__slide .text h1 {
	    font-size: 25px!important;
	    line-height: 27px!important;
		max-width: 80%;
	}

	#slide .splide__slide {
		height: 360px!important;
	}

	#slide-three {
		margin:50px 0!important;
	}

	#slide .splide__slide .text {
		margin:inherit!important;
		position:absolute!important;
	    top: 50%!important;
	    transform: translate(0,-50%)!important;
	}

	#home #info2 img {
	    max-width: 35%!important;
	}

	#home #info2 .circles li {
	    margin-right: 5px;
	}

	#home #info2 .circles {
	    max-width: 100%;
	}

	#home #info2 .circles li {
	    margin-right: 20px;
	}

	#home #slide .splide__slide {
	    height: 480px !important;
	}

	#info3 {
	    padding: 25px 0;
	}

	#contact-page #blog #slide-three {
		margin:30px 0;
	}

	#contact-page #blog .img {
		height: 260px;
	}

	#contact-page #splide .splide__slide .text {
		margin:50px;
	}

}

@media only screen and (max-width : 320px) {

}